#cardId .card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-bottom: 40px;
}

#cardId .card:hover{
    transform:scale(1.1);
}

.card h1{
    font-size: 28px;
}

#cardId>h1{
    margin-bottom: 40px;
    font-size:60px;
}

#cardId h1, h3{
    text-align: center;
}

.display-none{
    display:none;
}

.display-info{ 
    display:block;
}